<form class="form-group clearfix">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
     <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
     <input type="text" class="form-control" id="search-reg" placeholder="Quem você deseja encontrar?" ng-model="$ctrl.searchFilter">
  </div>
</form>

<table class="table table-hover">
  <thead>
     <tr>
    	<th class="hover_order" ng-click="$ctrl.orderNow('name')">Nome completo</th>
	    <th class="hover_order" ng-click="$ctrl.orderNow('email')">Email</th>
	    <th class="hover_order" ng-click="$ctrl.orderNow('state')">Estado</th>
        <th width="160" class="text-center">Ações</th>
     </tr>
  </thead>
  <tbody>
     <tr ng-if="$ctrl.contacts[0].name != undefined" ng-repeat="contact in $ctrl.contacts | filter:{name: $ctrl.searchFilter} | orderBy:$ctrl.sortByfield:$ctrl.orderDirection">
         <td>{{ contact.name | uppercase }}</td>
         <td>{{ contact.email | uppercase }}</td>
         <td>{{ contact.state | uppercase }}</td>
        <td class="text-center">
           <div class="btn-group" role="group" aria-label="Ações user">
           	  
           	  <div ng-transclude ></div>
              
           </div>
        </td>
     </tr>
     <tr ng-if="$ctrl.contacts[0].name == undefined">
        <td colspan="4" class="text-center">
           <h5>Nenhum registro encontrado</h5>
        </td>
     </tr>
  </tbody>
</table>
